{% extends 'base.html' %}

{% block body %}
<div class="container">
<br>
    <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">Book Name</th>
            <th scope="col">Auther Name</th>
            <th scope="col">Pages</th>
            <th>Delete</th>
          </tr>
        </thead>
            {% for  book in books  %}
        <tbody>
            <tr>
                <td>{{book.book_title}}</td>
                <td>{{book.book_author}}</td>
                <td>{{book.book_pages}}</td>
                <td><a href="/delete/{{book.id}}" class="btn btn-danger" role="button">Delete</a></td>
              </tr>
        </tbody>
            {% endfor  %}
      </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
{% endblock body %}